@import "tailwindcss";


/* GLOBAL COLOR UTILITY CLASSES */
.marine-blue {
  color: #25689b;
}
.bg-marine-blue {
  background-color: #25689b;
}

.marine-dark {
  color: #181A20;
}
.bg-marine-dark {
  background-color: #181A20;
}

.accent-yellow {
  color: #FFC300;
}
.bg-accent-yellow {
  background-color: #FFC300;
}

.accent-green {
  color: #32CD32;
}
.bg-accent-green {
  background-color: #32CD32;
}

.ocean-light {
  color: #F4F7F9;
}
.bg-ocean-light {
  background-color: #F4F7F9;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Safari and Chrome */
}
